<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tienda Natural{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <header>
        <h1>Tienda Natural</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/clientes">Clientes</a>
        </nav>
    </header>
    <main>
        {% block contenido %}{% endblock %}
    </main>
</body>
</html>
