/* Fondo general en marrón claro */
body {
    background-color: #f5f0e6;
    font-family: Arial, sans-serif;
    color: #1e1e1e;
    margin: 0;
    padding: 0;
}

/* Encabezado en marrón oscuro */
header {
    background-color: #754d44;
    color: white;
    padding: 1rem;
    text-align: center;
}

.titulo{
    color:whitesmoke
}

/* Navegación con fondo marrón suave */
nav {
    margin-top: 0.5rem;
}

nav a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Contenido principal */
main {
    padding: 2rem;
}

/* Títulos */
h1, h2 {
    color: #3e2723;
}

/* Lista de productos */
ul {
    list-style-type: square;
    padding-left: 1.5rem;
}

li {
    padding: 0.3rem 0;
}

/* Tabla de clientes */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #ffffff;
}

th, td {
    border: 1px solid #bdbdbd;
    padding: 0.75rem;
    text-align: left;
}

th {
    background-color: #6d4c41;
    color: white;
}

tr:nth-child(even) {
    background-color: #efebe9;
}
